parameters:
    level: max
    paths:
        - packages/core/src
        - packages/core/tests
        - packages/talk/src
        - packages/talk/tests
        - packages/post/src
        - packages/post/tests
